body {
  background-color: #eee;

}


.btn-matrix {
  width: 40px;
  height: 40px;
  transition: opacity .35s ease-in-out;
  -moz-transition: opacity .35s ease-in-out;
  -webkit-transition: opacity .35s ease-in-out;
  -o-transition: opacity .35s ease-in-out;
}

.btn-borrar {
    color: #333333;
    font-size: 24px;
    background-color: #eee;
}

.btn-toolbar .btn-group {
    margin-top: 0.4em;
}

.btn-toolbar button:hover {
  opacity: 0.7;
}


.center {
  text-align: center;
}

.inner {
  padding: 5px;
}

.pintar {
  padding: 30px 0;
}
.footer-pixel{
  margin-top: 150px;
}

/*.footer-pixel {
  background-color: #C9C9C9;
  position: absolute;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 10px;
}
*/
.container-canvas {
    /* This could be done in one single declaration. See the extended sample. */
    margin-right: auto;
    margin-left: auto;
    width: 800px;
}

/*.footer-texto {
   color: #777;
   padding: 0 10px;
   position: relative;
   top: 15px;
}
*/

h1 {
  font-family: 'Duru Sans', sans-serif;
  color: #999999;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 3px;
  margin-top: 38px;

}

.center1 {
  margin: 0 auto;
}

.container-pixel {
  margin-top: 10px;
}
a:hover {
  opacity: 0.7;
}




