<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Pizarra</a></li>
    <li><a ng-href="#/snake">Snake</a></li>
    <li><a ng-href="#">Leapmotion</a></li>
  </ul>
  <h3 class="text-muted">Matrix Drawing</h3>
</div>


<canvas id="canvas" width="642" height="322" drawing></canvas>
<div>
    
  <div class="btn-toolbar" role="toolbar" style="margin: 0;">
      <div class="btn-group">
        <button ng-repeat="color in colors" type="button" class="btn btn-default" ng-click="botonColor(color)" style="background-color:{{'#'+color}}"><i class="glyphicon glyphicon-pencil"></i></button>
        <button type="button" class="btn btn-default" ng-click="borrar()"><i class="glyphicon glyphicon-trash"></i></button>
      </div>
    </div>
</div>