<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">Matrix Drawing</h3>
</div>


<canvas id="canvas" width="642" height="322" drawing></canvas>
<div>
  <form ng-submit="addColor()">
  <input type="text" ng-model="color"  size="30" placeholder="selecciona el color" colorpicker="hex">
    <input class="btn-primary" type="submit" value="add">
    <a ng-click="borrar()"><i class="glyphicon glyphicon-trash"></i></a>
  </form>
</div>